@import '_variables';
.authInfo {
  width: 50%;
  height: calc(100vh - 30px);
  margin: 15px 0px 0px 15px;
  background: $green;
  border-radius: 20px;
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 72px;
    gap: 4px;
    width: 143px;
    height: 40px;
    margin-top: 58px;
    margin-bottom: 18px;
  }

  .authInfoHeading {
    margin-left: 72px;
    width: 88%;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: -0.02em;
    color: $white;
    margin-bottom: 21px;
  }

  .authInfoText {
    margin-left: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $white;
    margin-bottom: 25px;
    width: 85%;
  }
  .authInfoTestimonialBox {
    width: 85%;
    height: 25%;
    background: $white;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-left: 72px;

    .testimonialImageBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 15px;
    }
    .testimonialHeading {
      height: 95%;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: $black;
    }

    .testimonialImage {
      width: 65px;
      height: 69px;
      border-radius: 20px;
    }
    .testimonialNameBox {
      .testimonialName {
        width: 109px;
        height: 19px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: $gray;
      }
      .testimonialHandle {
        width: 86px;
        height: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.02em;
        color: $gray;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .authInfo {
    .logo {
      margin-left: 68px;
    }
    .authInfoHeading {
      margin-left: 68px;
      width: 83.75%;
      font-size: 54px;
      line-height: 70px;
      letter-spacing: -0.02em;
    }
    .authInfoText {
      margin-left: 68px;
      font-size: 17px;
      line-height: 22px;
    }
    .authInfoTestimonialBox {
      width: 85%;
      height: 25%;
      margin-left: 68px;
      gap: 12px;
      .testimonialImageBox {
        height: 69px;
      }
      .testimonialHeading {
        font-size: 17px;
        line-height: 22px;
        color: $black;
        width: 95%;
      }
      .testimonialImage {
        width: 65px;
        height: 69px;
      }
      .testimonialNameBox {
        .testimonialName {
          font-size: 14px;
        }
        .testimonialHandle {
          font-size: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .authInfo {
    .logo {
      margin-left: 58px;
    }
    .authInfoHeading {
      margin-left: 58px;
      width: 82.5%;
      font-size: 44px;
      line-height: 60px;
      letter-spacing: -0.02em;
    }
    .authInfoText {
      margin-left: 58px;
      font-size: 16px;
      line-height: 24px;
    }
    .authInfoTestimonialBox {
      margin-left: 58px;
    }
    .authInfoTestimonialBox {
      .testimonialHeading {
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 1080px) {
  .authInfo {
    .logo {
      margin-left: 38px;
      .greenie {
        font-size: 28px;
      }
    }
    .authInfoHeading {
      margin-left: 48px;
      width: 85%;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: -0.02em;
    }
    .authInfoText {
      margin-left: 48px;
      font-size: 16px;
      line-height: 22px;
    }
    .authInfoTestimonialBox {
      margin-left: 48px;
      .testimonialHandle {
        font-size: 8px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  // .authInfo {
  //   .logo {
  //     margin-left: 22px;
  //     .greenie {
  //       font-size: 24px;
  //     }
  //   }
  //   .authInfoHeading {
  //     margin-left: 34px;
  //     width: 90%;
  //     font-size: 34px;
  //     line-height: 40px;
  //     letter-spacing: -0.02em;
  //   }
  //   .authInfoText {
  //     margin-left: 34px;
  //     font-size: 14px;
  //     line-height: 22px;
  //   }
  //   .authInfoTestimonialBox {
  //     margin-left: 34px;
  //   }
  //   .authInfoTestimonialBox {
  //     .testimonialHeading {
  //       font-size: 13.7px;
  //     }
  //     .testimonialHandle {
  //       font-size: 8px;
  //     }
  //   }
  // }
  .authInfo {
    background: $white;
    padding: 16px;
    margin: 0 auto;
    width: 375px;
    height: 150px;
    margin-top: 5rem;
    .logo,
    .authInfoTestimonialBox,
    .authInfoText {
      display: none;
    }

    .authInfoHeading {
      color: $black;
      font-size: 29.561px;
      line-height: 35px;
      width: 350px;
      margin: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .authInfo {
    margin-top: 1rem;
    .authInfoHeading {
      color: $black;
      font-size: 29.561px;
      line-height: 35px;
      width: 350px;
      margin: 0;
    }
  }
}
