.authInfo {
  width: 50%;
  height: calc(100vh - 30px);
  margin: 15px 0px 0px 15px;
  background: #17a672;
  border-radius: 20px;
}
.authInfo .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 72px;
  gap: 4px;
  width: 143px;
  height: 40px;
  margin-top: 58px;
  margin-bottom: 18px;
}
.authInfo .authInfoHeading {
  margin-left: 72px;
  width: 88%;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 21px;
}
.authInfo .authInfoText {
  margin-left: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 25px;
  width: 85%;
}
.authInfo .authInfoTestimonialBox {
  width: 85%;
  height: 25%;
  background: #ffffff;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-left: 72px;
}
.authInfo .authInfoTestimonialBox .testimonialImageBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
}
.authInfo .authInfoTestimonialBox .testimonialHeading {
  height: 95%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #191819;
}
.authInfo .authInfoTestimonialBox .testimonialImage {
  width: 65px;
  height: 69px;
  border-radius: 20px;
}
.authInfo .authInfoTestimonialBox .testimonialNameBox .testimonialName {
  width: 109px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #697082;
}
.authInfo .authInfoTestimonialBox .testimonialNameBox .testimonialHandle {
  width: 86px;
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #697082;
}

@media screen and (max-width: 1440px) {
  .authInfo .logo {
    margin-left: 68px;
  }
  .authInfo .authInfoHeading {
    margin-left: 68px;
    width: 83.75%;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: -0.02em;
  }
  .authInfo .authInfoText {
    margin-left: 68px;
    font-size: 17px;
    line-height: 22px;
  }
  .authInfo .authInfoTestimonialBox {
    width: 85%;
    height: 25%;
    margin-left: 68px;
    gap: 12px;
  }
  .authInfo .authInfoTestimonialBox .testimonialImageBox {
    height: 69px;
  }
  .authInfo .authInfoTestimonialBox .testimonialHeading {
    font-size: 17px;
    line-height: 22px;
    color: #191819;
    width: 95%;
  }
  .authInfo .authInfoTestimonialBox .testimonialImage {
    width: 65px;
    height: 69px;
  }
  .authInfo .authInfoTestimonialBox .testimonialNameBox .testimonialName {
    font-size: 14px;
  }
  .authInfo .authInfoTestimonialBox .testimonialNameBox .testimonialHandle {
    font-size: 10px;
  }
}
@media screen and (max-width: 1280px) {
  .authInfo .logo {
    margin-left: 58px;
  }
  .authInfo .authInfoHeading {
    margin-left: 58px;
    width: 82.5%;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: -0.02em;
  }
  .authInfo .authInfoText {
    margin-left: 58px;
    font-size: 16px;
    line-height: 24px;
  }
  .authInfo .authInfoTestimonialBox {
    margin-left: 58px;
  }
  .authInfo .authInfoTestimonialBox .testimonialHeading {
    font-size: 16px;
  }
}
@media screen and (max-width: 1080px) {
  .authInfo .logo {
    margin-left: 38px;
  }
  .authInfo .logo .greenie {
    font-size: 28px;
  }
  .authInfo .authInfoHeading {
    margin-left: 48px;
    width: 85%;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -0.02em;
  }
  .authInfo .authInfoText {
    margin-left: 48px;
    font-size: 16px;
    line-height: 22px;
  }
  .authInfo .authInfoTestimonialBox {
    margin-left: 48px;
  }
  .authInfo .authInfoTestimonialBox .testimonialHandle {
    font-size: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .authInfo {
    background: #ffffff;
    padding: 16px;
    margin: 0 auto;
    width: 375px;
    height: 150px;
    margin-top: 5rem;
  }
  .authInfo .logo,
  .authInfo .authInfoTestimonialBox,
  .authInfo .authInfoText {
    display: none;
  }
  .authInfo .authInfoHeading {
    color: #191819;
    font-size: 29.561px;
    line-height: 35px;
    width: 350px;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .authInfo {
    margin-top: 1rem;
  }
  .authInfo .authInfoHeading {
    color: #191819;
    font-size: 29.561px;
    line-height: 35px;
    width: 350px;
    margin: 0;
  }
}/*# sourceMappingURL=authInfo.css.map */