@import '_variables';

.disbledInput {
  position: relative;
  width: 458px;
  height: 68px;
  background: $white;
  border: 1px solid $lightGray;
  border-radius: 8px;
  padding: 17px 17px;
  margin-bottom: 24px;
  span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 27px;
    color: $gray;
    background-color: #f3f3f3;
    padding: 0px 10px;
    gap: 10px;
    border-radius: 40px;
    cursor: pointer;
  }
}

.otpInput {
  display: block;
  width: 458px;
  height: 68px;
  background: $white;
  border: 1px solid $lightGray;
  border-radius: 8px;
  padding: 0.75rem;
  letter-spacing: 1em;
}

@media screen and (max-width: 1024px) {
  .disbledInput {
    position: relative;
    width: 310px;
    height: 46px;
    background: $white;
    border: 1px solid $lightGray;
    border-radius: 6px;
    padding: 14px 12px;
    margin-bottom: 16px;
    font-size: 12px;
    span {
      position: absolute;
      top: 13px;
      right: 20px;
      font-size: 8px;
      font-weight: 600;
      line-height: 18px;
      color: $gray;
      background-color: #f3f3f3;
      padding: 0px 10px;
      gap: 10px;
      border-radius: 40px;
      cursor: pointer;
    }
  }

  .otpInput {
    width: 310px;
    height: 46px;
    border-radius: 6px;
    padding: 0.75rem;
    font-size: 14px;
  }
}
