.bio-section {
  text-align: center;
  margin-top: -2rem;
  z-index: 10;

  .left-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .bio-name {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: $dark;
    font-weight: 600;
    margin-bottom: 24px;
  }
  .chips {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 52px;
  }
  .bio-section-wrapper {
    text-align: left;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .border-left {
      background-color: $lightGray;
      width: 2px;
      height: 69px;
    }

    .level {
      padding-right: 25px;
      .level-heading {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: $gray;
        margin-bottom: 6px;
      }

      .level-wrapper {
        .level-img {
          width: 30px;
          height: 30px;
          &:not(:last-child) {
            margin-right: 14px;
          }
        }
      }
    }

    .medal-wrapper {
      padding: 0px 29px;
      display: flex;
      align-items: center;
      .medal-icon {
        border-radius: 50%;
        padding: 8px 12px;
        background-color: $bgGreen;
      }
      .medal-text-box {
        margin-left: 7.5px;
        .top-text {
          color: $gray;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
        }
        .percentage {
          color: $gray;
          font-weight: 600;
          font-size: 32px;
          line-height: 30px;
        }
      }
    }
    .greenie-id {
      background: $green;
      box-shadow: 0px -26px 144px rgba(0, 0, 0, 0.05);
      border-radius: 45px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 9px;
      padding: 10px;
      width: 40%;
      height: 50px;

      .icon-box {
        background-color: $bgGreen;
        border-radius: 50%;
        margin-right: 10px;
        .greenie-id-icon {
          padding: 7.5px;
        }
      }

      .greenie-id-heading {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #ffffff;
        padding-bottom: 2px;
      }
      .id {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        /* identical to box height, or 100% */

        text-align: center;

        color: #ffffff;
      }
    }
  }
  .bio-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $gray;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}
