@import '_variables';

.profileNav {
  border-radius: 70px;
  padding: 14px;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 960px;
  .profile-btn-wrapper {
    width: 65%;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 30%);
    button {
      border: none;
      color: $gray;
      border-radius: 34px;
    }
    .active {
      border: 1px solid $green;
      border-radius: 34px;
      color: $green;
    }
  }
}

@media screen and (max-width: 768px) {
  .profileNav {
    .profile-btn-wrapper {
      width: 80%;
    }
  }
}
@media screen and (max-width: 512px) {
  .profileNav {
    .profile-btn-wrapper {
      width: 100%;
    }
  }
}
