.icon {
  border: 1px solid $gray;
  padding: 4px 12px;
  border-radius: 24px;
  margin-left: 8px;
  cursor: pointer;

  .btn {
    color: $gray;
  }

  &:hover {
    background-color: $green;
    border: 1px solid $green;

    .btn {
      color: $white;
    }
  }
}

.see-all-experiences-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 16px;
}

.button-wrappers {
  display: flex;
  align-items: center;
  justify-content: center;

  .get-verified {
    font-weight: 500;
    font-size: 16px;
    color: $red;
    background: $white;
    border: 1px solid $red;
    border-radius: 34px;

    &:hover {
      background: $white;
    }
  }
}

.see-all-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-family: 'Inter';
  cursor: pointer;

  .go-back-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .arrow-left-icon {
      margin-right: 1rem;
    }
    .arrow-right-icon {
      margin-inline: 1rem;
    }
  }
}

.skills-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  align-items: center;
  justify-content: space-between;
  .skill-card {
    border: 1px solid $lighterGray;
    border-radius: 24px;
    padding: 20px;
    margin-bottom: 26px;

    .skill-card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
      .designation {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
      }
    }
    .skill-rate {
      font-weight: 500;
      font-size: 12px;
      color: $gray;
      height: 24px;
      width: 100px;
      background: $white;
      border-radius: 34px;
      background-color: #f4f4f4;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
    }

    .skill-btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .get-verified {
        font-weight: 500;
        font-size: 12px;
        color: $dark;
        height: 24px;
        padding: 0px 16px;
        background: $white;
        border: 1px solid $dark;
        border-radius: 34px;

        &:hover {
          background: $white;
        }
      }

      .button-wrappers {
        margin-top: -0.05rem;
      }
    }

    .view-details-btn {
      font-weight: 600;
      font-size: 16px;
      color: $gray;
      background: $white;
      border: 2px solid $lightGray;
      border-radius: 34px;

      &:hover {
        background: $white;
      }
    }
  }
}

.see-all-residential-info-card-wrapper {
  .see-all-residentila-info-card {
    border: 1px solid $lightGray;
    border-radius: 24px;
    padding: 26px;
    margin-bottom: 50px;
    .pending,
    .verified {
      margin-left: 8px;
    }

    .heading {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: $dark;
      margin-bottom: 8px;
    }

    .header {
      display: grid;
      grid-template-columns: 64% 35%;
      align-items: center;
      justify-content: space-between;

      .header-text {
        display: grid;
        grid-template-columns: 15% 65% 20%;
        align-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: $dark;

        .location {
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $lighterGray;
          padding: 12px;
          border-radius: 50%;
          margin-right: 12px;
        }
        .pincode {
          margin-left: 4px;
          margin-right: 8px;
        }
      }
      .get-verified {
        font-weight: 500;
        font-size: 16px;
        color: $red;
        background: $white;
        border: 1px solid $red;
        border-radius: 34px;

        &:hover {
          background: $white;
        }
      }
    }
    .residential-info-wrapper {
      display: grid;
      grid-template-columns: repeat(5, 20%);

      .details {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: $gray;
        margin-bottom: 8px;
      }
    }
    .map-wrapper {
      .heading {
        margin-bottom: 24px;
      }
      .map {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.02);
        height: 156px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
        color: $gray;
      }
    }
  }
}

.document-container {
  border: 1px solid $lightGray;
  border-radius: 24px;
  padding: 30px;
  display: grid;
  grid-template-columns: 40% 55%;
  align-items: flex-start;
  justify-content: space-between;

  .document-text-box {
    display: grid;
    .heading {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 27px;
      color: $dark;
      margin-bottom: 16px;
    }

    button {
      font-family: 'Inter';
      border-radius: 34px;
      width: 180px;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 24px;
      height: 40px;
    }

    .greenBtn {
      background: $green;
      color: $white;
      &:hover {
        opacity: 0.9;
        background: $green;
      }
    }
    .disabledBtn {
      background: $lightGray;
      color: $gray;
      opacity: 0.6;

      &:hover {
        background: $lightGray;
      }
    }
  }
}

.checkbox-box {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $gray;
  display: flex;
  margin-bottom: 30px;
  text-align: left;

  .tearms-conditions {
    margin-left: 12px;
  }
}

.policy {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  text-decoration-line: underline;
  text-align: center;
  color: $dark;
  margin-bottom: 16px;
  cursor: pointer;
}

.document-verified-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 25% 74%;
  align-items: flex-start;
  justify-content: space-between;

  .document-verified-left-box {
    img {
      margin-bottom: 16px;
      max-width: 200px;
    }
    .left-img-box {
      .verified-document-name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #282828;
        margin-bottom: 28px;
      }
    }

    .heading {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.02em;
      color: $dark;
    }
    .details {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.02em;
      color: #a3a3a3;
      margin-bottom: 28px;
    }
  }
  .document-verified-right-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .box-row {
      display: grid;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .aadhar-first-row,
    .pan-third-row,
    .licence-fourth-row {
      grid-template-columns: 49% 49%;
    }
    .aadhar-second-row {
      grid-template-columns: 29% 40% 29%;
    }
    .aadhar-third-row,
    .pan-second-row,
    .licence-first-row {
      grid-template-columns: 32.5% 32.5% 32.5%;
    }
    .pan-first-row {
      grid-template-columns: 19% 39% 39%;
    }

    .pan-fourth-row {
      grid-template-columns: 29% 69%;
    }

    .licence-second-row {
      grid-template-columns: 29% 29% 39%;
    }
    .licence-third-row {
      grid-template-columns: 59% 39%;
    }
    .details-box {
      background: #fafafa;
      border-radius: 24px;
      padding: 20px;
      margin: 4px 0px;
      .details-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: $dark;
        margin-bottom: 30px;
      }
      .details-detail {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #282828;
      }
    }
    .primaryBtn {
      width: 30%;
      margin-top: 24px;
    }
  }
}

@media screen and (max-width: 930px) {
  .skills-card-wrapper {
    grid-template-columns: repeat(2, 48%);
  }

  .document-verified-container {
    grid-template-columns: 100%;

    .document-verified-left-box {
      display: flex;
      justify-content: center;

      .left-img-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .verified-document-name {
          font-size: 18px;
          text-align: center;
        }
      }
      .left-text-box {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 20px;
        display: grid;
        grid-template-columns: 30% 50% 20%;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .see-all-experiences-wrapper {
    grid-template-columns: repeat(2, 49%);
  }
  .see-all-residential-info-card-wrapper {
    .see-all-residentila-info-card {
      padding: 16px;
      .header {
        grid-template-columns: 100%;
        height: 120px;
      }
      .residential-info-wrapper {
        grid-template-columns: repeat(2, 50%);

        .details {
          margin-bottom: 18px;
        }
      }
    }
    .see-all-header {
      font-size: 16px;
    }
  }

  .document-container {
    grid-template-columns: 100%;
    img {
      margin: 0 auto;
    }
  }

  .document-verified-container {
    .document-verified-left-box {
      .left-text-box {
        margin-top: 16px;
        flex-direction: column;
      }
    }
  }

  .document-verified-container {
    .document-verified-left-box {
      flex-direction: column;
    }
    .document-verified-right-box {
      .details-box {
        .details-detail {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .see-all-experiences-wrapper {
    grid-template-columns: 100%;
  }
  .skills-card-wrapper {
    grid-template-columns: 100%;
  }

  .document-verified-container {
    .document-verified-left-box {
      flex-direction: column;

      .left-text-box {
        grid-template-columns: 100%;
      }
    }
    .document-verified-right-box {
      .aadhar-first-row,
      .aadhar-second-row,
      .aadhar-third-row,
      .pan-first-row,
      .pan-second-row,
      .pan-third-row,
      .pan-fourth-row,
      .licence-first-row,
      .licence-second-row,
      .licence-third-row,
      .licence-third-row,
      .licence-fourth-row {
        grid-template-columns: 100%;
      }

      .primaryBtn {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .see-all-residential-info-card-wrapper {
    .see-all-residentila-info-card {
      .header {
        grid-template-columns: 100%;
        height: 170px;

        .header-text {
          grid-template-columns: 100%;
          height: 120px;

          .pending,
          .verified {
            width: 50%;
          }
          .location {
            display: none;
          }
        }
      }
      .residential-info-wrapper {
        grid-template-columns: 100%;
      }
    }
  }

  .see-all-header {
    font-size: 14px;

    .go-back-btn {
      .arrow-left-icon {
        margin-right: 0.2rem;
      }
      .arrow-right-icon {
        margin-inline: 0.2rem;
      }
    }
  }
}
