$offWhite: #f9f9f9;
$white: #ffffff;
$green: #17a672;
$limeGreen: #8cf078;
$bgGreen: #a5fbc9;
$lightGray: #ebebeb;
$lighterGray: #e1e1e1;
$red: #ff7272;

$black: #282828;
$gray: #697082;
$dark: #191919;
