.add-work-experience {
  margin-top: 8rem;
  width: 94%;
  .input-section {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 40% 60%;

    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 27px;
      color: $dark;
      width: 100%;
      color: $dark;
    }

    .checkbox {
      margin-bottom: 19px;
      margin-top: 0.25rem;
      input {
        width: 19px;
        height: 19px;
        border-radius: 0px;
        margin-top: 0rem;
      }
    }

    .inner-input-section {
      display: grid;
      grid-template-columns: 49% 49%;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.linked-in {
  width: 22.5px;
  margin-top: -2px;
}

.documents-input-box {
  min-height: 338px;
  width: 100%;
  border: 1px solid $lightGray;
  border-radius: 24px;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 1rem;
  }

  .add-document-heading {
    color: $dark;
    font-size: 16px;
    font-family: Inter;
    letter-spacing: -0.32px;
    margin-bottom: 12px;
  }
  .add-document-sub-heading {
    border-radius: 34px;
    background: #f4f4f4;
    color: $gray;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 22px;
    margin: 1rem auto;
    cursor: pointer;
    align-items: center;
  }
  .limit {
    color: $gray;
    font-size: 12px;
    font-family: Inter;
    letter-spacing: -0.24px;
  }
}

.inpute-file-name-box {
  border: 1px solid $lightGray;
  padding: 0.25rem 1rem;
  padding-top: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.25rem;
  position: relative;
  min-width: 50%;

  .label {
    position: absolute;
    color: $gray;
    text-align: left;
    font-size: 12px;
    top: 10px;
  }
  .input-file-name {
    color: $gray;
    text-align: left;
  }

  .icon-box {
    color: $gray;
    font-size: 24px;
    margin-inline-start: 3rem;

    .add-document-icon {
      margin-inline: 0.5rem;
    }
  }
}

.added-documents-wrapper {
  margin-bottom: 2rem;
  border: 1px solid #d1d4db;
  border-radius: 24px;

  .added-documents {
    padding: 1rem;
    display: grid;
    grid-template-columns: 30% 30% 10% 10%;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

    .add-document-icon {
      display: flex;
      align-items: center;
    }
  }
}

.experience-modal {
  text-align: center;

  img {
    margin-bottom: 1rem;
  }
  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: $dark;
    width: 100%;
    color: $dark;
  }
  .sub-title {
    margin: 16px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #b5a9a9;
  }

  .primaryBtn {
    width: 30%;
    margin: 1rem auto;
  }

  .info-box {
    border: 1px solid #d1d4db;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 18px 16px;
    border-radius: 8px;
    width: 96%;
    max-width: 460px;

    .designation-company-name {
      text-align: left;

      .designation {
        color: $gray;
        font-weight: 500;
        font-size: 1rem;
        line-height: 19.36px;
        letter-spacing: -2%;
      }
      .company-name {
        color: #c1c1c1;
        font-weight: 400;
        font-size: 1rem;
        line-height: 19.36px;
        letter-spacing: -2%;
      }
    }
    .buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .go-to-verfication {
        font-weight: 500;
        font-size: 12px;
        color: $dark;
        height: 24px;
        padding: 0px 8px;
        background: $white;
        border: 1px solid $dark;
        border-radius: 34px;
        margin-left: 8px;

        &:hover {
          background: $white;
        }
      }
    }
  }

  .fact-box {
    margin-bottom: 2rem;
    .fact-heading {
      font-family: Inter;
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
      letter-spacing: -0.02em;
      text-align: center;
    }
    .fact {
      font-family: Inter;
      font-size: 13px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: -0.02em;
      text-align: center;
    }
  }
}

@media screen and (max-width: 820px) {
  .added-documents-wrapper {
    .added-documents {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 3fr 1fr;
    }
  }
}

@media screen and (max-width: 768px) {
  .add-work-experience {
    .input-section {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: flex-start;
    }

    .border-bottom {
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and (max-width: 512px) {
  .added-documents-wrapper {
    .added-documents {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-height: 200px;
    }
  }
}
