@import '_variables';

.profile {
  background-color: $offWhite;
}
.container {
  width: 94%;
  max-width: 960px;
  background-color: $white;
  border-radius: 16.0603px;
  margin: 23px auto;
  padding: 26px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: $black;
    margin-bottom: 5px;
  }
  .subheading {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: $gray;
    margin-bottom: 24px;
  }

  .link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: $gray;
  }

  .no-data-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 101px;
    margin-bottom: 120px;
    img {
      width: 344px;
      height: 253px;
    }
  }
}

@import '_navbar';
@import '_profile';
@import '_bioSection';
@import '_verificationId';
