.mantine-Modal-title {
  font-weight: 600;
  font-size: 1.15rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 1.5rem;
  padding-inline: 1rem;
}

.modal-content-heading {
  font-size: 1rem;
  font-weight: 600;
}

.modal-content-msg {
  text-align: center;
  max-width: 40ch;
  font-size: 0.95rem;
  color: #4c4c4c;
  font-weight: 500;
}

.modal-action-btn {
  height: 2.5rem;
  background: #17a672;
  width: 60%;
  text-transform: capitalize;
}

.modal-action-btn:hover {
  background: #17a672;
}
