.notifications_container {
  background: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.notification_icon_container {
  display: grid;
  place-items: center;
}

.notification_icon_container img {
  width: 10rem;
  object-fit: cover;
}

.notification_msg {
  color: #bdbdbd;
  font-weight: 500;
  font-size: 1.25rem;
}
