.requestList_container {
  background: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.request_item {
  display: flex;
  gap: 10px;
}

.profile_image {
  border: 1px solid hsl(158, 76%, 37%, 0.05);
  background: hsl(158, 76%, 37%, 0.045);
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.profile_image img {
  aspect-ratio: 1;
}

.request_item_body {
  display: flex;
  flex-direction: column;
}

.request_title {
  font-size: 0.9235rem;
  font-weight: 600;
}

.request_msg {
  color: #333333;
  font-size: 0.9rem;
}

.request_actions {
  margin-inline-start: 1rem;
  display: flex;
  align-self: center;
  align-items: center;
  gap: 1rem;
}

.request_action_btns {
  height: 2rem;
}

.request_action_btns:first-of-type {
  background: #17a672;
}

.request_action_btns:last-of-type {
  background: transparent;
  border: 1px solid #697082;
  color: #697082;
}
