.requestList_container {
  background: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.request_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.profile_image {
  border: 1px solid hsl(158, 76%, 37%, 0.05);
  background: hsl(158, 76%, 37%, 0.045);
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.profile_image img {
  aspect-ratio: 1;
}

.request_item_body {
  display: flex;
  flex-direction: column;
}

.request_title {
  font-size: 0.9235rem;
  font-weight: 600;
}

.request_msg {
  color: #333333;
  font-size: 0.8rem;
}

.request_actions {
  margin-inline-start: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.request_action_btns:hover {
  background: transparent;
  opacity: 0.7;
}

.request_action_btns {
  background: transparent;
  color: #333333;
  border: 1px solid #e1e1e1;
}

.requested_date {
  color: #697082;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.02em;
  text-align: left;
}

.request_status {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #17a672;
  margin-bottom: 0.25rem;
}

.request_status_text {
  margin-left: 0.25rem;
}
