@use 'sass:math';
@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Don\'t use units when using rem() function.';
  }
}
@function em($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + em;
  } @else {
    @error 'Don\'t use units when using em() function.';
  }
}
body {
  // min-width: 840px;
  // background-color: red !important;
}

.report-container {
  background-color: white;
  width: 675px;
  aspect-ratio: 1/1.414;
  margin-inline: auto;
  padding: 2rem;
  margin-block: 2rem;
  font-size: rem(14);
  &.report-container-main {
    background-color: #17a672;
    padding: 1rem;
  }
  .report-background {
    background: white;
    height: 100%;
    border-radius: 1.5rem;
    padding: 2rem;
  }
  .report-name {
    margin-top: rem(20);
    font-weight: 500;
  }
  .report-verify {
    background: -webkit-linear-gradient(#17a672, #8cf078);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &.front-report {
    justify-content: center;
    height: 90vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    .report-container-head {
      font-size: rem(40);
      .report-verifybtn {
        height: rem(30);
      }
      .greenie {
        font-weight: 700;
      }
    }
  }
  .report-folder-wrapper {
    margin-top: rem(20);
    .doc-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 20ch;
    }
  }
  .added-peer-box {
    font-size: 12px;
    .added-peers {
      border: 1px solid #ebebeb;
      display: grid;
      grid-template-columns: 24% 36% 20% 20%;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem;
      width: 100%;
      &.executive-peers {
        grid-template-columns: 30% 20% 30% 20%;
      }
      &.added-peers-exp {
        grid-template-columns: 40% 20% 20% 20%;
      }
      &.added-exp-peers {
        grid-template-columns: 26% 18% 18% 16% 20%;
      }
      &:last-child {
        border-radius: 0px 0px 16px 16px;
      }
      .peer-name {
        overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // max-width: 20ch;
        word-break: break-all;
        padding-right: rem(7);
        display: flex;
        gap: 10px;
        align-items: center;
        .peer-progress {
          width: 12ch;
        }
        &.name-wrap {
          white-space: pre-wrap;
        }
        &.text-verified {
          color: #17a672;
        }
        &.text-dispute {
          color: #ff7272;
        }
        &.title {
          font-weight: 600;
        }
      }
    }
  }
  .add-peer-header {
    border: 1px solid #ebebeb;
    border-radius: 16px 16px 0 0;
    display: grid;
    grid-template-columns: 24% 36% 20% 20%;
    margin: 2rem auto 0rem;
    padding: 1rem;
    font-weight: 500;
    font-size: 13px;
    &.executive-header {
      grid-template-columns: 30% 20% 30% 20%;
    }
    &.work-header {
      grid-template-columns: 40% 20% 20% 20%;
    }
    &.add-peer-exp-header {
      grid-template-columns: 26% 18% 18% 16% 20%;
    }
  }

  .basic-info-box-wrapper {
    margin-top: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 15% 19% 20% 40%;
    column-gap: 1rem;
    align-items: stretch;
    &.work-wrapper {
      grid-template-columns: 20% 20% 27% 27%;
    }
    &.residence-wrapper {
      grid-template-columns: 18% 24% 28% 24%;
    }
    &.review-box {
      grid-template-columns: 45% 25% 25%;
      .review-box-inner {
        width: 70%;
      }
    }
    &.verification-box {
      grid-template-columns: 23% 12% 18% 23% 18%;
      align-items: center;
    }
    &.box-address {
      grid-template-columns: 15% 15% 15% 15% 15% 15%;
    }
    &.idreport-container {
      grid-template-columns: 33% 31% 33%;
      align-items: center;
    }
    &.executive-wrapper {
      grid-template-columns: 30% 30% 30%;
    }
    &.wrapper-executive {
      margin-top: rem(80);
    }
    .info-box {
      border: 1px solid #e1e1e1;
      border-radius: 1rem;
      padding: 0.4rem;
      &.idreport-box,
      &.info-box-address {
        border: none;
        padding: 0rem;
      }
      .report-verifybtn {
        border: none;
        align-items: center;
        display: flex;
        padding: 0px 0px;
      }
      .experience-details-box-heading {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: Inter;
        font-size: 13px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: black;
        &.verification-heading {
          font-size: 14px;
          margin-bottom: rem(-10);
        }

        &.id-heading {
          font-size: 20px;
        }
      }
      .experience-details-box-text {
        color: #697082;
        font-size: 12px;
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        overflow: hidden;
        gap: rem(8);
        word-wrap: break-word;
        &.request-text {
          margin-top: rem(20);
          color: black;
          text-decoration: underline;
          text-underline-offset: 4px;
        }
        img {
          width: rem(15);
        }
      }
    }
  }
  .report-container-head {
    display: flex;
    align-items: center;

    .report-header {
      display: flex;
      align-items: center;
    }
    .report-verifybtn {
      border: none;
      align-items: center;
      display: flex;
    }
    &.report-res {
      justify-content: space-between;
    }
    .greenie {
      font-size: 25px;
      font-weight: 700;
    }
    .verified {
      font-size: 20px;
      color: #17a672;
    }
  }
  .greenie-text {
    color: #79819a;
    font-size: 15px;
  }
  .disclaimer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block-start: 3rem;
    .disclaimer-text {
      text-align: center;
      color: #2e2e48;
      font-size: 20px;
      font-weight: 600;
      &.id-report {
        text-align: start;
      }
    }
    .disclaimer-details {
      margin-top: 1rem;
      line-height: 1.8;
      color: #79819a;
      font-size: 15px;
    }
    .residential-address {
      margin-top: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.residential-top {
        margin-top: 0rem;
      }
      .residential-address-left {
        color: #535253;
        width: 38%;
        gap: rem(20);
        &.left-residential {
          width: 30%;
        }
        .profile-thumbnail {
          aspect-ratio: 1;
          width: 60px;
          display: grid;
          place-items: center;
          border-radius: 50%;
          overflow: hidden;
          .profile-img {
            width: rem(50);
            aspect-ratio: 1;
          }
        }
        .report-verifybtn {
          border: none;
          padding: 0px 0px;
        }
        &.workexperience {
          display: flex;
        }
        p:first-child {
          color: black;
          font-weight: 600;
          font-size: 14px;
        }
      }
      .residential-address-right {
        text-decoration: underline;
        text-underline-offset: 4px;
        display: flex;
        align-items: center;
        gap: rem(10);
        font-weight: 500;
        &.right-view-profile {
          text-decoration: none;
        }
      }
    }
  }
  .location {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 18px;
      color: black;
      font-weight: 600;
    }
    .location-date {
      p {
        color: #a3a3a3;
        font-weight: 400;
        font-size: 14px;
      }
      p:first-child {
        color: black;
        // font-weight: 600;
      }
    }
  }
  .peer-exp-name {
    margin-top: 4rem;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    span {
      font-size: 16px;
      color: #a3a3a3;
      font-weight: 400;
      margin-inline-start: rem(30);
    }
  }
}
