.section-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  align-items: stretch;
  justify-content: space-between;
  row-gap: 1.5rem;
}

.verificationId-section {
  .verificationIdCard {
    cursor: pointer;
    margin-bottom: 16px;

    .verificationIdImg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 180px;
      margin-bottom: 24px;
      border-radius: 10px;
      background: #f2f4f2;

      .blurBox {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          filter: blur(6px);
        }
      }
    }

    .verification-id-text-box {
      text-align: center;
    }

    .document-name {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: $gray;
      margin-bottom: 5px;
    }

    .is-verified-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .is-verified-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: $gray;
        margin-right: 5px;
      }
    }
  }
}

.experience-card {
  border: 1px solid $lighterGray;
  padding: 2rem;
  text-align: center;
  border-radius: 24px;
  cursor: pointer;
  height: 230px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1rem;

  .companyLogo {
    margin: 2rem auto;
  }
  .companyName {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: $dark;
    margin-bottom: 8px;
  }
  .position {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
    color: #a3a3a3;
  }

  .since-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    margin-bottom: 3px;
    color: #a3a3a3;
    margin-top: 2.5rem;
  }
  .tenure {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: $gray;
  }
}

.residential-card {
  border: 1px solid $lighterGray;
  padding: 16px;
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  height: calc(100% - 1rem);
  .top-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .address-box {
      // height: 150px;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      margin-bottom: 1rem;

      .pending {
        width: 100px;
      }

      .verified {
        width: 100px;
      }
      .address-type {
        font-size: 14px;
        border: 1px solid hsl(223, 11%, 46%, 0.5);
        width: max-content;
        padding-block: 0.1em;
        padding-inline: 1em;
        margin-block: 0.5rem 0.75em;
        border-radius: 1rem;
        font-weight: 600;
        color: #697082;
      }
    }

    .location {
      min-width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $lighterGray;
      padding: 12px;
      border-radius: 50%;
      margin-right: 12px;
    }
    .address {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.02em;
      color: $dark;
      margin-bottom: 6px;
    }
  }

  .card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // align-items: center;

    .since-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.02em;
      margin-bottom: 3px;
      color: #a3a3a3;
      margin-top: 1rem;
    }

    .tenure {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: -0.02em;
      color: $gray;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-cards-wrapper {
    grid-template-columns: repeat(2, 49%);
  }
  .verificationId-section {
    .cards-wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);

      .verificationIdCard {
        .is-verified-box {
          margin-bottom: 34px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .section-cards-wrapper {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 414px) {
  .experience-section {
    .experience-card {
      .testimonial {
        padding: 0px 4px;
      }
    }
  }

  .residential-card {
    .top-box {
      .address-box {
        height: 150px;
      }
    }
  }

  .residential-info {
    .residential-card {
      .top-box {
        .address {
          font-size: 14px;
        }
      }
    }
  }
}
