.verify-data-no-data-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .hidden-card {
    box-shadow: 0px 3.87283px 39.8348px rgba(0, 0, 0, 0.11);
    border-radius: 12.1481px;
    background-color: $white;
    width: 101px;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    .card-img {
      width: 44px;
      height: 44px;
      margin-bottom: 8px;
    }
    .card-text {
      color: $dark;
      font-size: 10.1058px;
      line-height: 12px;
      letter-spacing: -0.02em;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .verified-icon {
        color: $limeGreen;
        margin-left: 0.2rem;
      }
    }
  }
  .card {
    box-shadow: 0px 4.95769px 50.9933px rgba(0, 0, 0, 0.11);
    border-radius: 15.551px;
    background-color: $white;
    width: 129.66px;
    height: 121.74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card-img {
      width: 57.2px;
      height: 56.96px;
      margin-bottom: 11px;
    }
    .card-text {
      color: $dark;
      font-size: 12.9367px;
      line-height: 15px;
      letter-spacing: -0.02em;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .verified-icon {
        color: $limeGreen;
        margin-left: 0.2rem;
      }
    }
  }
}

.verify-id-no-data-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
}

.verify-id-text {
  text-align: center;
  margin-left: 58px;
  .text-heading {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: $gray;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .text-subheading {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: $gray;
    margin-bottom: 5px;
  }
}

.singleData-wrapper {
  display: grid;
  grid-template-columns: 33.33% 50%;
  justify-content: space-between;

  .single-data-box {
    display: flex;
    align-items: center;
    margin-top: -4rem;

    .verify-id-text {
      text-align: left;
      margin-left: 18px;

      .text-subheading {
        max-width: 200px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .verify-id-no-data-wrapper {
    flex-direction: column;

    .verify-id-text {
      margin: 0;
      margin-top: 2rem;
    }
  }
}
@media screen and (max-width: 578px) {
  .singleData-wrapper {
    grid-template-columns: 100%;

    .single-data-box {
      flex-direction: column;
    }
  }
}
