.add-peer-box {
  border: 1px solid $lightGray;
  border-radius: 34px;
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .primaryBtn {
    width: 200px;
    margin-block: 2rem;
  }

  .add-peer-title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: $dark;
    margin-bottom: 2rem;
  }

  .add-peers-inputs {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .add-peer-btn {
    padding: 8px 16px;
    background: $white;
    border: 1px solid #d1d4db;
    border-radius: 34px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #697082;
  }

  .add-peer-header {
    border: 1px solid $lightGray;
    border-radius: 16px 16px 0px 0px;
    display: grid;
    grid-template-columns: 22% 25% 15% 25% 10%;
    margin: 0rem auto;
    margin-top: 2rem;
    padding: 1rem;
    font-weight: 500;
    width: 90%;
  }

  .added-peer-box {
    width: 90%;
    .added-peers {
      border: 1px solid $lightGray;
      display: grid;
      grid-template-columns: 22% 25% 15% 25% 10%;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem;
      font-size: 14px;
      width: 100%;

      &:last-child {
        border-radius: 0px 0px 16px 16px;
      }

      .peer-name {
        .profile-icon {
          font-size: 24px;
          color: $gray;
          background-color: $lightGray;
          border-radius: 50%;
          padding: 0.25rem;
        }
        span {
          font-weight: 500;
          margin-left: 0.25rem;
          font-size: 12px;
        }
      }

      .peer-email {
        word-wrap: break-word;
        max-width: 25ch;
        font-size: 13px;
      }

      .peer-response {
        text-align: center;
        border-radius: 24px;
        width: 70px;
        color: $blue;
        font-size: 12px;
        font-weight: 600;
        background-color: rgba(135, 235, 218, 0.52);
        padding: 0.15rem 0rem;
      }

      .peer-type {
        text-align: center;
        border-radius: 24px;
        color: $dark;
        font-weight: 500;
        background-color: $lightGray;
        padding: 0.25rem 0rem;
        font-size: 12px;
        width: 75%;
      }

      .peer-remove {
        color: $dark;
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
          text-decoration: underline;
          font-weight: 600;
          margin-left: 0.15rem;
        }
      }
    }
  }
}

.experience-details {
  width: max-content;
  padding: 2rem;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2.5rem;
  border: 1px solid #e1e1e1;

  .pending {
    border: none;
    outline: none;
  }

  .company-logo {
    width: 120px;
    height: 120px;
    border: 1px solid $lightGray;
    border-radius: 50%;
    position: relative;

    .verified-icon {
      position: absolute;
      bottom: 10px;
      right: 4px;
    }
  }

  .experience-details-text-box {
    // margin-left: 1rem;
    display: grid;
    place-items: center;

    .designation {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      // letter-spacing: -0.02em;
      margin-bottom: 0.5rem;
    }
    .company-name {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      // letter-spacing: -0.02em;
      color: #a3a3a3;
      margin-bottom: 0.5rem;
    }
  }
}

.peer-no-data-wrapper {
  border: 1px solid $lightGray;
  border-radius: 0px 0px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f9f9f9;

  img {
    width: 30%;
    margin-block: 2rem;
  }
}

.see-peers {
  .see-peers-box {
    display: grid;
    grid-template-columns: 30% 68%;
    align-items: flex-start;
    justify-content: space-between;

    .see-peers-sidebar {
      border: 1px solid $lightGray;
      border-radius: 24px;

      .select-peer-heading {
        font-size: 18px;
        font-weight: 500;
        color: $dark;
        border-bottom: 1px solid $lightGray;
        padding: 0.75rem 1rem;
      }

      .peer {
        padding: 0.35rem 0.65rem;
        border-left: 2px solid white;
        cursor: pointer;
        position: relative;

        .border-left {
          background-color: $green;
          border-radius: 24px;
          height: 47px;
          width: 5px;
          position: absolute;
          scale: 0;
          transition: all 0.2s ease-in-out;
        }

        .peer-name {
          font-weight: 500;
          margin-left: 0.85rem;
          margin-bottom: 0.01rem;
        }
        .peer-type {
          color: $gray;
          font-size: 14px;
          margin-left: 0.85rem;
          margin-bottom: 0.25rem;
        }

        &.active {
          .border-left {
            scale: 1;
          }
        }
      }
    }

    .see-peers-main-box {
      border: 1px solid $lightGray;
      background-color: $offWhite;
      border-radius: 24px;
      min-height: 600px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      img {
        width: 200px;
        margin-block: 4rem;
      }
    }

    .see-peers-select-doc-skills {
      border: 1px solid $lightGray;
      border-radius: 24px;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1.5rem;
      position: relative;
      padding-bottom: 4rem;

      .btn-wrapper {
        width: 250px;

        .cancel-btn {
          background: transparent;
          color: $dark;
        }
        position: absolute;
        bottom: 0;
        right: 2rem;
      }

      .doc-skill-selector {
        display: grid;
        grid-template-columns: 125px 100px 125px;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        background-color: $lightGray;
        padding: 0.25rem;
        border-radius: 0.25rem;
        margin-bottom: 1rem;

        .selector {
          padding: 0.25rem;
          border-radius: 0.25rem;
          transition: all 0.1s ease;
          cursor: pointer;
          font-size: 14px;

          &.active {
            background-color: $white;
          }
        }
      }
    }
  }
}

.document-action-heading {
  font-weight: 600;
}

.see-peers-btn-wrapper {
  margin-top: 2rem;

  .cancel-btn {
    border-radius: 24px;
    background-color: $white;
    color: $dark;
    border: 1px solid $lighterGray;
    width: 150px;
    margin-left: 1rem;
  }
}

.verify-experience-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: $dark;
    margin-bottom: 0.5rem;
  }
  .subHeading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #b5a9a9;
    margin-bottom: 2rem;
  }
  .green-btn {
    margin-bottom: 2.5rem;
  }

  .modal-experience-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 3rem;

    .experience-details-text-box {
      // margin-left: 1rem;
      display: grid;
      place-items: center;

      .designation {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: -0.02em;
        margin-bottom: 0.5rem;
      }
      .company-name {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: #a3a3a3;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.document-action-heading-box {
  .document-action-sub-heading {
    color: $gray;
    font-size: 14px;
  }
}

.documents-action-section {
  width: 100%;

  .documents-action-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;

    .document-action-selector {
      .document-action {
        background: transparent;
        color: $gray;
        border: 1px solid $lighterGray;
        border-radius: 24px;
        font-weight: 400;
      }
    }
  }
}

.selected-documents {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  align-items: flex-start;
  justify-content: space-between;

  .document {
    margin-top: 0.5rem;
    border: 1px solid $lighterGray;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0.5rem;

    .pdf-icon {
      width: 30px;
    }
    .document-name {
      font-size: 14px;
      line-height: 16px;
      margin-left: 0.5rem;
    }
  }
}

.docs-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  align-items: center;
  justify-content: space-between;

  .document {
    margin-top: 0.5rem;
    border: 1px solid $lighterGray;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0.5rem;

    .pdf-icon {
      width: 30px;
    }
    .document-name {
      font-size: 14px;
      line-height: 16px;
      margin-left: 0.5rem;
    }
  }
}

.selected-skills-header {
  display: grid;
  grid-template-columns: 5% 40% 40%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 16px;
  font-weight: 600;
  border-left: 1px solid $lightGray;
  border-right: 1px solid $lightGray;
  border-top: 1px solid $lightGray;
  border-radius: 24px 24px 0px 0px;
  margin-top: 1rem;
}

.selected-attribute-header {
  display: grid;
  grid-template-columns: 5% 90%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 16px;
  font-weight: 600;
  border-left: 1px solid $lightGray;
  border-right: 1px solid $lightGray;
  border-top: 1px solid $lightGray;
  border-radius: 24px 24px 0px 0px;
  margin-top: 1rem;
}

.selected-skills {
  border: 1px solid $lightGray;
  border-radius: 0px 0px 24px 24px;
  margin-bottom: 1rem;

  .selected-skill {
    display: grid;
    grid-template-columns: 5% 40% 40%;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    font-size: 14px;
    color: $gray;
  }
}

.verification-document-name {
  color: $dark;
  font-weight: 500;
}

.selected-attributes {
  border: 1px solid $lightGray;
  border-radius: 0px 0px 24px 24px;
  margin-bottom: 1rem;

  .selected-attribute {
    display: grid;
    grid-template-columns: 5% 90%;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    font-size: 14px;
    color: $gray;

    .document {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 1.75rem;
        object-fit: cover;
      }
    }
  }
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 2rem auto;

  .action-icon {
    color: $green;
    font-size: 18px;
  }

  .action-text {
    color: $green;
    font-size: 16px;
    margin-left: 0.15rem;
  }
}

.add-skill-form {
  width: 90%;
  margin: 0 auto;

  .add-skill-header {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    text-align: center;

    .heading {
      font-weight: 600;
    }
    .sub-heading {
      color: $gray;
    }
  }
  .input-section {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 40% 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 100%;

    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 27px;
      color: $dark;
      width: 100%;
      color: $dark;
    }
  }

  .btn-wrapper {
    margin-bottom: 4rem;
  }
}

.confirm-request-box {
  border: 1px solid $lighterGray;
  border-radius: 24px;
  padding: 2rem;

  .details-box,
  .peers-list,
  .document-list,
  .skills-list {
    margin-block: 1rem;

    .document-action-heading {
      margin-bottom: 0.5rem;
    }
  }

  .document-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .docs-wrapper {
      display: flex !important;
      flex-direction: column;
      gap: 0.25rem;
      justify-content: flex-start;

      .document-action-heading {
        margin-bottom: 0;
      }

      .docs-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        .document {
          margin-top: 0;
        }
      }
    }

    .document-list {
      margin-block: 0 !important;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .document-action-heading {
        margin-bottom: 0;
        text-align: center;
      }

      .skills-wrapper {
        display: grid;
        gap: 8px;

        .skill-box {
          padding: 0.5rem 0.75rem;
          border-radius: 10px;
          border: 1px solid #e1e1e1;

          .skill-name {
            font-weight: 500;
            font-size: 16px;
            color: #697082;
          }

          .expertise {
            font-size: 14px;
            color: #697082;
          }
        }
      }
    }

    .skills-list {
      margin-block: 0 !important;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .document-action-heading {
        margin-bottom: 0;
        text-align: center;
      }

      .add-skills-wrapper {
        display: grid;
        gap: 8px;
        padding-block: 0 !important;
        grid-template-columns: 1fr;

        .add-skill-name {
          padding: 0.5rem 0.75rem;
          border: 1px solid #e1e1e1;
          border-radius: 10px;
          color: #697082;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
}

.verify-experience-progress-bars {
  width: 100%;
  height: 0.35rem;
  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(3, 32.5%);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .progress-bar {
    height: 0.35rem;
    border-radius: 24px;
    background-color: $lighterGray;

    &.active {
      background-color: $limeGreen;
    }
  }
}

.selection-page {
  color: $gray;
  font-size: 14px;
  margin-bottom: 1rem;
}

.pro-tip-box {
  border: 1px solid $lighterGray;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  background-color: #f5faff;

  .icon-box {
    display: flex;
    align-items: center;

    .pro-tip {
      font-family: Inter;
      font-size: 13px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.6000000238418579px;
      text-align: left;
      margin-left: 0.25rem;
    }
  }

  .tip {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
  }
}

.requesting-peer-text-box {
  margin-block-start: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsl(223, 11%, 46%, 0.15);

  .name {
    font-size: 18px;
    font-weight: 600;
  }

  .peer-type {
    font-size: 15px;
    color: #697082;
  }
}

.disclaimer-heading {
  font-size: 17px;
}

@media screen and (max-width: 930px) {
  .confirm-request-box {
    .requesting-peers {
      grid-template-columns: repeat(2, 49%);
    }
  }
}
@media screen and (max-width: 768px) {
  .add-peer-box {
    padding: 4rem 1rem;
    .experience-details {
      flex-direction: column;

      .company-logo {
        margin-bottom: 1rem;
      }

      .experience-details-text-box {
        text-align: center;
      }
    }

    .add-peers-inputs {
      grid-template-columns: 100%;
      width: 90%;
    }
  }

  .docs-wrapper {
    grid-template-columns: repeat(2, 49%);
  }
}

@media screen and (max-width: 630px) {
  .confirm-request-box {
    .requesting-peers {
      grid-template-columns: 100%;
      .requesting-peer {
        margin-block: 1rem;
      }
    }
  }

  .see-peers-btn-wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;

    .green-btn {
      padding: 0;
    }

    .cancel-btn {
      margin-left: 0rem;
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 650px) {
  .confirm-request-box {
    .document-list {
      display: grid;
      grid-template-columns: 100%;
      gap: 2rem;

      .docs-wrapper {
        display: flex !important;
        flex-direction: column;
        gap: 0.25rem;
        justify-content: flex-start;

        .document-action-heading {
          margin-bottom: 0;
        }

        .docs-list {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;

          .document {
            margin-top: 0;
          }
        }
      }

      .document-list {
        margin-block: 0 !important;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .document-action-heading {
          margin-bottom: 0;
          text-align: center;
        }

        .skills-wrapper {
          display: grid;
          gap: 8px;

          .skill-box {
            padding: 0.5rem 0.75rem;
            border-radius: 10px;
            border: 1px solid #e1e1e1;

            .skill-name {
              font-weight: 500;
              font-size: 16px;
              color: #697082;
            }

            .expertise {
              font-size: 14px;
              color: #697082;
            }
          }
        }
      }

      .skills-list {
        margin-block: 0 !important;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .document-action-heading {
          margin-bottom: 0;
          text-align: center;
        }

        .add-skills-wrapper {
          display: grid;
          gap: 8px;
          padding-block: 0 !important;
          grid-template-columns: 1fr;

          .add-skill-name {
            padding: 0.5rem 0.75rem;
            border: 1px solid #e1e1e1;
            border-radius: 10px;
            color: #697082;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 512px) {
  .docs-wrapper {
    grid-template-columns: 100%;
  }
  .see-peers-btn-wrapper {
    width: 80%;
  }
}
