.add-work-experience {
  margin-top: 7rem;
  width: 94%;

  .progress-bar-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .input-section {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 40% 60%;

    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 27px;
      color: $dark;
      width: 100%;
      color: $dark;
    }

    .checkbox {
      margin-block: 1rem;

      label {
        font-size: 1rem;
      }
    }

    .inner-input-section {
      display: grid;
      grid-template-columns: 49% 49%;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.linked-in {
  width: 22.5px;
  margin-top: -2px;
}

.experience-add-documents {
  .checkbox-box {
    display: flex;

    .terms-conditions {
      margin-left: 0.75rem;
      color: $gray;
      margin-bottom: 1rem;
    }
  }
}

.documents-input-box {
  min-height: 320px;
  width: 100%;
  border: 1px solid $lightGray;
  border-radius: 24px;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 1rem;
  }

  .add-document-heading {
    color: $dark;
    font-size: 16px;
    font-family: Inter;
    letter-spacing: -0.32px;
    margin-bottom: 12px;
  }
  .add-document-sub-heading {
    border-radius: 34px;
    background: #f4f4f4;
    color: $gray;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 22px;
    margin: 1rem auto;
    cursor: pointer;
    align-items: center;
  }
  .limit {
    color: $gray;
    font-size: 12px;
    font-family: Inter;
    letter-spacing: -0.24px;
  }
}

.inpute-file-name-box {
  border: 1px solid $lightGray;
  padding: 0.25rem 1rem;
  padding-top: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.25rem;
  position: relative;
  min-width: 50%;

  .label {
    position: absolute;
    color: $gray;
    text-align: left;
    font-size: 12px;
    top: 10px;
  }
  .input-file-name {
    color: $gray;
    text-align: left;
  }

  .icon-box {
    color: $gray;
    font-size: 24px;
    margin-inline-start: 3rem;

    .add-document-icon {
      margin-inline: 0.5rem;
    }
  }
}

.added-documents-wrapper {
  margin-bottom: 2rem;
  border: 1px solid #d1d4db;
  border-radius: 24px;

  .added-documents {
    padding: 0.25rem 2rem;
    display: grid;
    grid-template-columns: 35% 30% 30%;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

    .document-name {
      span {
        color: $dark;
      }
    }

    .documents-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .added-box {
        margin-left: 1rem;
      }
    }

    .document-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: -0.02em;
      text-align: left;
      color: $gray;

      span {
        margin-right: 0.5rem;
      }
    }

    .inputClass {
      margin-top: 1rem;
      margin-bottom: 0rem;
    }

    .added-box {
      display: flex;
      align-items: center;
      color: $green;

      .added-text {
        margin-left: 0.5rem;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    .add-document-icon {
      display: flex;
      align-items: center;
    }
  }
}

.experience-modal {
  text-align: center;

  img {
    margin-bottom: 1rem;
  }
  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: $dark;
    width: 100%;
    color: $dark;
  }
  .sub-title {
    margin: 16px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #b5a9a9;
  }

  .primaryBtn {
    width: 30%;
    margin: 1rem auto;
  }

  .info-box {
    border: 1px solid #d1d4db;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 18px 16px;
    border-radius: 8px;
    width: 96%;
    max-width: 460px;

    .designation-company-name {
      text-align: left;

      .designation {
        color: $gray;
        font-weight: 500;
        font-size: 1rem;
        line-height: 19.36px;
        letter-spacing: -2%;
      }
      .company-name {
        color: #c1c1c1;
        font-weight: 400;
        font-size: 1rem;
        line-height: 19.36px;
        letter-spacing: -2%;
      }
    }
    .buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .go-to-verfication {
        font-weight: 500;
        font-size: 12px;
        color: $dark;
        height: 24px;
        padding: 0px 8px;
        background: $white;
        border: 1px solid $dark;
        border-radius: 34px;
        margin-left: 8px;

        &:hover {
          background: $white;
        }
      }
    }
  }

  .fact-box {
    margin-bottom: 2rem;
    .fact-heading {
      font-family: Inter;
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
      letter-spacing: -0.02em;
      text-align: center;
    }
    .fact {
      font-family: Inter;
      font-size: 13px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: -0.02em;
      text-align: center;
    }
  }
}

.top-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.actions-icons {
  font-size: 1.35rem;
  color: $gray;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  margin-top: -3rem;
}

.experience-details-screen {
  .experience-details-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    justify-content: space-between;
    @media screen and (max-width: 540px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .green-btn {
      margin-bottom: 1rem;
      @media screen and (max-width: 540px) {
        margin-bottom: 2rem;
      }
    }
  }
  .experience-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom: 1rem;

    .experience-details-text-box {
      // margin-left: 1rem;

      .designation {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: -0.02em;
        margin-bottom: 0.5rem;
      }
      .company-name {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: #a3a3a3;
        margin-bottom: 0.5rem;
      }
    }
  }

  .experience-details-box-heading {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark;
    margin-bottom: 0.5rem;

    &.referees-heading {
      margin-top: 1.5rem;
    }
  }

  .requests-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .referees-request-box {
      border: 1px solid #e1e1e1;
      border-radius: 1rem;
      padding: 1rem;
      margin-block: 0.25rem;
      margin-right: 0.5rem;

      .request-box-heading {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 18ch;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      .request-box-text {
        font-size: 13px;
        color: gray;
        margin-bottom: 0.5rem;
        // text-decoration: underline;
      }

      .request-status {
        font-weight: 500;
        font-size: 12px;
        color: #ff7272;
        width: max-content;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;

        .request-status-text {
          margin-left: 0.25rem;
        }
      }
    }
  }

  .comapny-type-box {
    border: 1px solid $lighterGray;
    border-radius: 1rem;
    padding: 1rem;
    margin-block: 0.25rem;

    a {
      display: block;
      overflow: hidden;
      word-wrap: break-word;
    }
  }

  .about-company-box-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 25% 30%;
    column-gap: 0.5rem;
    align-items: stretch;
  }

  .experience-details-box-text {
    color: $gray;
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    word-wrap: break-word;
  }

  .basic-info {
    margin-top: 1rem;

    .basic-info-box-wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: 17% 25% 27% 27%;
      column-gap: 0.5rem;
      align-items: stretch;
    }
  }

  .experience-details-links {
    margin-block: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
  }

  .details-link {
    color: $gray;
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
}

.experience-congrats-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .checked-icon {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .main-heading {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .main-sub-heading {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #a3a3a3;
    margin-bottom: 2rem;
  }

  .experience-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem;

    .experience-details-text-box {
      margin-left: 1rem;

      .designation {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: -0.02em;
        margin-bottom: 0.5rem;
      }
      .company-name {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: #a3a3a3;
        margin-bottom: 0.5rem;
      }
    }
  }

  .docs-box {
    text-align: center;
    min-width: 90%;

    .heading {
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: -0.02em;
      text-align: center;
    }

    .docs-wrapper {
      margin-block: 1rem;
      display: grid;
      grid-template-columns: repeat(4, 24%);
      align-items: center;
      justify-content: space-between;

      .folder {
        display: grid;
        grid-template-columns: 20% 75%;
        border-radius: 0.75rem;
      }
    }
  }

  .add-skills-wrapper {
    padding-block: 0.5rem;
    margin-bottom: 2rem;

    .add-skill-box {
      margin-block: 0.5rem;
    }
  }

  .cancel-btn {
    border-radius: 34px;
    background: transparent;
    color: $dark;
    border: 1px solid $lighterGray;
    margin-inline-start: 0.5rem;
    width: 120px;

    &:hover {
      opacity: 0.7;
    }
  }
}

.mantine-Modal-title {
  font-weight: 600;
  font-size: 1.15rem;
  padding-inline: 1rem;
}

.skills-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .skill-modal-title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: center;
    color: $dark;
  }
  .add-skills-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .folder-wrapper {
    margin-top: 1.5rem;
    padding-block: 1.5rem;
    padding-inline: 1rem;
    display: grid;
    grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
    gap: 1rem;
    width: 100%;

    .folder {
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      margin-bottom: 0 !important;
      padding: 1rem;
      height: auto !important;
      grid-column: span 1;

      .doc-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      img {
        width: 2rem;
      }
      &:hover {
        border: 1px solid $green;
      }
    }
  }

  .skill-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  .green-btn {
    margin: 1rem auto;
  }
}

.congrats-btns-wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
}

.experience-details-box-heading {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: $dark;
  margin-bottom: 0.5rem;

  &.referees-heading {
    margin-top: 1.5rem;
  }
}

.requests-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .referees-request-box {
    border: 1px solid #e1e1e1;
    border-radius: 1rem;
    padding: 1rem;
    margin-block: 0.25rem;
    margin-right: 0.5rem;

    .request-box-heading {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 18ch;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    .request-box-text {
      font-size: 13px;
      color: gray;
      margin-bottom: 0.5rem;
    }

    .request-status {
      font-weight: 500;
      font-size: 12px;
      color: #ff7272;
      width: max-content;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;

      .request-status-text {
        margin-left: 0.25rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .experience-details-screen {
    .basic-info {
      .basic-info-box-wrapper {
        grid-template-columns: 30% 35%;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .experience-details-screen {
    .about-company-box-wrapper {
      grid-template-columns: 35% 40%;
    }

    .basic-info {
      .basic-info-box-wrapper {
        grid-template-columns: 45% 50%;
      }
    }
  }

  .added-documents-wrapper {
    .added-documents {
      padding: 0.25rem 1rem;
      grid-template-columns: 35% 30% 30%;

      .document-name {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .add-work-experience {
    .input-section {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: flex-start;
    }

    .border-bottom {
      margin-bottom: 0.5rem;
    }
  }

  .top-header {
    .see-all-header {
      font-size: 14px;

      .arrow-left-icon {
        margin-right: 0.5rem;
      }

      .arrow-right-icon {
        margin-inline: 0.25rem;
      }
    }

    .green-btn {
      width: 125px;
      height: 30px;
      font-size: 14px;
      padding: 0;
    }
  }

  .experience-congrats-screen {
    .docs-box {
      .docs-wrapper {
        grid-template-columns: repeat(2, 49%);
      }
    }
  }

  .added-documents-wrapper {
    .added-documents {
      .document-name {
        font-size: 14px;
      }
    }
  }

  .experience-add-documents {
    .checkbox-box {
      .terms-conditions {
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 660px) {
  .added-documents-wrapper {
    .added-documents {
      .index {
        font-size: 12px;
      }
      .document-name {
        font-size: 12px;
      }

      .inputClass {
        margin-right: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .added-documents-wrapper {
    .added-documents {
      padding: 1rem 1.5rem;
      grid-template-columns: 100%;
      .document-name {
        font-size: 12px;
      }

      .documents-actions {
        width: 50%;
        margin-inline: auto;
      }
    }
  }
}

@media screen and (max-width: 512px) {
  .added-documents-wrapper {
    .added-documents {
      .documents-actions {
        width: 70%;
      }
    }
  }

  .experience-details-screen {
    .about-company-box-wrapper {
      grid-template-columns: 1fr;
    }

    .basic-info {
      .basic-info-box-wrapper {
        grid-template-columns: 1fr;
      }
    }
  }

  .top-header {
    .see-all-header {
      font-size: 12px;

      .arrow-left-icon {
        margin-right: 0.5rem;
      }

      .arrow-right-icon {
        margin-inline: 0.05rem;
      }
    }

    .green-btn {
      width: 80px;
      height: 20px;
      font-size: 10px;
      padding: 0;
    }
  }

  .experience-congrats-screen {
    .docs-box {
      .docs-wrapper {
        grid-template-columns: 100%;
      }
    }
  }
}
