.profile-bar-profile-details {
  margin: 1rem auto;
  background-color: $white;
  width: 100%;
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  .left-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .image-box {
      position: relative;

      img {
        width: 68px;
      }
      .verified-icon {
        position: absolute;
        bottom: 0px;
        right: 0px;
        background: $white;
        border-radius: 50%;
        padding: 0.15rem;
      }
    }
    .name-box {
      margin-left: 1rem;
      .name {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: $dark;
        font-weight: 600;
      }
      .designation {
        color: #535253;
        font-size: 14px;
      }
    }
  }
  .right-box {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 18px;
    }

    .ratings {
      color: $gray;
      margin-left: 0.5rem;
      margin-top: 1px;
      font-size: 14px;
    }
  }
}
