$offWhite: #f9f9f9;
$white: #ffffff;
$green: #17a672;
$limeGreen: #8cf078;
$bgGreen: #a5fbc9;
$lightGray: #ebebeb;
$lighterGray: #e1e1e1;
$red: #ff7272;

$black: #282828;
$gray: #697082;
$dark: #191919;

@import '_profilebar';
@import '_docDepotNavbar';

.doc-depo-title {
  font-weight: 500;
  margin-bottom: 1rem;
}

.filter-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;

  .filter-heading {
    font-size: 14px;
    color: $gray;
  }

  .filter {
    border: 1px solid $lighterGray;
    border-radius: 24px;
    color: $gray;
    font-size: 12px;
    padding: 0.15rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
  }
}

.folder-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.pdf {
  border: 1px solid $lighterGray;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  font-size: 16px;
  height: 80px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 90% 5%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-block: 0.5rem;

  .pdf-box {
    display: grid;
    grid-template-columns: 20% 60% 10%;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
  }

  .three-dots-menu {
    visibility: hidden;
  }

  &:hover {
    border: 1px solid $green;

    .three-dots-menu {
      visibility: visible;
    }
  }

  .folder-dropdown-menu {
    position: absolute;
    right: -50%;
    bottom: -65%;
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 4px #bebebe;
    z-index: 1;
    padding: 0.25rem;

    .folder-action {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0.25rem;
      width: 125px;
      border-radius: 0.25rem;

      .folder-action-icon {
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: $lightGray;
      }
    }
  }
}

.folder {
  border: 1px solid $lighterGray;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 20% 60% 5%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  font-size: 16px;
  height: 80px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
  position: relative;

  .folder-img {
    width: 45px;
    margin-right: 0.5rem;
  }

  .folder-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
  }
}

.doc-depot-heading {
  margin: 1rem 0rem;
  font-weight: 500;
  font-size: 18px;
}

.doc-depo-header {
  display: flex;
  align-items: center;
  width: 280px;
  margin-bottom: 2rem;
  cursor: pointer;

  .text {
    font-size: 16px;
    font-weight: 500;
    margin-left: 0.5rem;
  }
}

.ids-wrapper-doc-depot {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .id-box-doc-depot {
    border: 1px solid $lighterGray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 75px;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 1rem;
    }

    &:first-child {
      img {
        width: 50px;
      }
    }
    &:nth-child(2) {
      img {
        width: 25px;
      }
    }

    .id-text {
      margin-left: 1rem;
      font-size: 14px;
    }
  }
}

.folder-move-modal {
  .move-folder-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    align-items: center;
    justify-content: space-between;
    max-width: 648px;
    margin: 1rem auto;

    .folder {
      grid-template-columns: 15% 80%;
      border: 2px solid $lighterGray;

      &:hover {
        border: 2px solid $green;
      }
    }
  }
  .move-modal-btns-wrapper {
    max-width: 512px;
    display: grid;
    grid-template-columns: 55% 35%;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;

    .btn {
      border-radius: 24px;
      padding: 0;
      margin-inline: 0.5rem;

      &:hover {
        opacity: 0.7;
      }
    }

    .green-btn-outline {
      border: 1px solid $green;
      background: transparent;
      color: $green;
    }

    .cancel-btn {
      background: transparent;
      color: $gray;
    }
  }
}

.folder-delete-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .heading {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    color: $dark;
  }
  .sub-heading {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #4c4c4c;
    margin-bottom: 2rem;
  }

  .delete-btn-wrapper {
    margin-bottom: 2rem;
    .delete-btn {
      border: 1px solid #fa3d3d;
      border-radius: 24px;
      background-color: #fa3d3d;
      margin-inline: 0.5rem;
      height: 30px;
      padding-inline: 2rem;

      &:hover {
        background-color: #fa3d3d;
        opacity: 0.7;
      }
    }
    .cancel-btn {
      border: 1px solid $green;
      border-radius: 24px;
      background-color: $white;
      color: $green;
      height: 30px;
      padding-inline: 2rem;

      &:hover {
        background-color: $white;
        opacity: 0.7;
      }
    }
  }
}

.document-modal {
  margin-top: 2rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;

  .green-btn {
    width: 150px;
    padding: 0;
    margin: 1rem auto;
  }
}

@media screen and (max-width: 768px) {
  .folder-wrapper {
    grid-template-columns: repeat(2, 49%);
  }
}
@media screen and (max-width: 512px) {
  .folder-wrapper {
    grid-template-columns: 100%;
  }
}
